absl-py==0.7.0
astor==0.7.1
astroid==2.0
autograd==1.2
backcall==0.1.0
bokeh==1.0.4
boto==2.49.0
boto3==1.9.69
botocore==1.12.69
bz2file==0.98
category-encoders==1.3.0
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.6.1
conda==4.3.16
cycler==0.10.0
Cython==0.29.2
dask==1.0.0
decorator==4.3.0
docutils==0.14
dynetx==0.2.1
future==0.17.1
gast==0.2.2
gensim==3.6.0
grakel-dev==0.1a5
grpcio==1.18.0
gym==0.10.9
gym-retro==0.6.0
h5py==2.9.0
hdf5storage==0.1.14
idna==2.8
igraph==0.1.11
imageai==2.0.2
ipykernel==4.8.2
ipython==7.1.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
kafka-python==1.4.4
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.25.0
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mkl-fft==1.0.10
mkl-random==1.0.2
ndlib==4.0.2
networkx==2.2
nose==1.3.7
numba==0.40.1
numpy==1.16.0
oauthlib==2.1.0
opencv-contrib-python==3.4.4.19
opencv-python==4.0.0.21
packaging==18.0
pandas==0.23.4
parso==0.3.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pycosat==0.6.3
pyglet==1.3.2
Pygments==2.2.0
pylint==2.0.0
pyparsing==2.3.1
PyQt5==5.11.3
PyQt5-sip==4.19.13
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.0.0
ramp-workflow==0+unknown
requests==2.21.0
requests-oauthlib==1.0.0
ruamel.yaml==0.15.86
s3transfer==0.1.13
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
simplegeneric==0.8.1
six==1.12.0
smart-open==1.7.1
statsmodels==0.9.0
tensorboard==1.12.2
tensorflow==1.12.0
tensornets==0.3.6
termcolor==1.1.0
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
tweepy==3.6.0
typed-ast==1.1.0
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
xlrd==1.2.0
